.container{
    display: grid;
    height:500px;
    width:1000px ;
    background-color: aqua;
    border: 1px solid black;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows:repeat(3,1fr);
     /* grid-template-areas:"header header header header" 
     "main main . sidebar"
    "footer footer footer footer"; */
    justify-items:center;
align-items: center;
place-items: center;
/* justify-content: space-around;
align-content: center; */
place-content: center;

    
}
.item{
    height: 100px;
    width: 100px;
    background-color: brown ;
    border: 1px solid black;
    text-align: center;

    color: blanchedalmond;

}
.item1{
    grid-area: header;
}
.item2{
    grid-area: sidebar;
}
.item3{
     grid-area: main;
}
.item4{
    grid-row: footer;
}